@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
.menu-bar-pc {
  width: 100%;
  min-height: 4.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0 2.25rem;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.menu-bar-pc .menu-principal-transparent a,
.menu-bar-pc .menu-principal-solid a,
.menu-bar-pc .social-media a {
  display: inline-block;
  padding: 0 0.625rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.876rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all 0.3s ease;
}
.menu-bar-pc .menu-principal-transparent a i,
.menu-bar-pc .menu-principal-solid a i,
.menu-bar-pc .social-media a i {
  font-size: 1rem;
}
.menu-bar-pc .menu-principal-transparent a:last-child,
.menu-bar-pc .menu-principal-solid a:last-child,
.menu-bar-pc .social-media a:last-child {
  padding-right: 0;
}
.menu-bar-pc .menu-principal-transparent a:hover,
.menu-bar-pc .menu-principal-solid a:hover,
.menu-bar-pc .social-media a:hover {
  color: #0089e0;
}
.fixed-header {
  border-bottom: 0.0625rem solid rgba(204, 204, 204, 0.5);
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 0.4s ease;
  margin-top: -4.25rem;
}
.fixed-header .menu-principal-solid a,
.fixed-header .social-media a {
  color: #444;
}
.fixed-header .menu-principal-solid a:hover,
.fixed-header .social-media a:hover {
  color: #0089e0;
}
.logo {
  display: inline-block;
  width: 3.125rem;
}
.logo img {
  width: 100%;
  vertical-align: top;
}
.menu-mobile {
  display: none;
}
.main {
  width: 100%;
  margin-top: -68px;
}
.main .main-banner {
  width: 100%;
  position: relative;
}
.main .main-banner .banner {
  width: 100%;
  height: 50vh;
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.main .main-banner .banner-text {
  display: inline-block;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main .main-banner .banner-text h2 {
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}
.main .main-banner .banner-text h3 {
  font-size: 6.0625rem;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  margin-bottom: 30px;
}
.main .main-banner .banner-text a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  background: #0089e0;
  color: #fff;
  transition: all 0.7s ease;
}
.main .main-banner .banner-text a:hover {
  background: #fff;
  color: #0089e0;
}
